@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

           /* navbar */
#navbar{
    width:100%;
    height:80px;
    background-color:#FCAF02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* border: 2px solid red; */
}

#startup{
width:20%;
text-align: center;
font-family: Montserrat;
font-size: 22px;
font-weight: 700;
/* border: 2px solid red; */
}


#nav-link{
    width:50%;
    /* border: 2px solid red; */
}

#links{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#links>li{
    list-style-type: none;
}

#links>li>a{
color: black;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

/* main-container */
.MainContainer{
    width: 100%;
    height: 1900px;
    background-color: black;
    /* border: 2px solid blue; */
}

 #intro{
    width: 95vw;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid blue; */
} 

 #info{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border:2px solid red; */
}

#info>h1{
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}

#info>p{
color: #FFF;
font-size: 20px;
}

#info>button{
    width: 150px;
    height: 40px;
    border-radius: 500px;
    background-color:#FCAF02;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

#profile{
    width: 40%;
    height: 70%;
    /* border:2px solid red; */
}

#profile>img{
    width:100%;
    height: 100%;
}

#form {
    width: 95vw;
    margin: auto;
    margin-top: 50px;
    /* border: 2px solid red; */
  }

  #form > h2 {
    color: #fcaf02;
    font-size: 60px;
    font-weight: 700;
  }
  
  #form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    height: 70px;
    background-color: black;
    color: #fcaf02;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #fcaf02;
    margin-top: 40px;
  }

  ::placeholder {
    color: #fcaf02;
    font-size: 28px;
    padding-left: 30px;
  }

  form > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
  }
  
  form > button {
    width: 300px;
    height: 70px;
    border-radius: 100px;
    border: 2px solid #fcaf02;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    background: #fcaf02;
    margin-top: 40px;
  }

#table{
    width: 95vw;
    margin: auto;
    margin-top: 100px;
    /* border: 2px solid red; */
}

#table>table{
    border: 1px solid #FCAF02;
    border-collapse: collapse;
    color: #FCAF02;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;
}

#table>table>tbody td{
    border-right: 2px solid #FCAF02 ;
    padding-left: 50px;
    height: 85px;
}

#table>table th{
    border-right: 2px solid #FCAF02 ;
    border-bottom: 2px solid #FCAF02 ;
    height: 40px;
}

#table>table>tfoot td{
    background-color: #FCAF02;
    color: #000000;
    height: 78px;
    padding-left: 50px;
    border-right: 2px solid #000000 ;
    font-weight: 400;
}

#th1{
width: 8%;
padding: 25px;
font-weight: 400;
}

#th2{
 width: 33%;
 padding-left: 33px;
 font-weight: 400;
}

#th3{
 width: 59%;
 font-weight: 400;
 padding-left: 47px;
}

#table>table>tfoot>tr>#foot1{
    padding-left: 40px;;
}

#table>table>tfoot>tr>#foot2{
    border-right: 2px solid #FCAF02;
}

#table>table>tbody>tr:nth-child(1)>td{
    padding-top: 29px;
}

#table>table>tbody>tr:nth-child(6)>td{
    padding-bottom: 38px;
}